services:
  app:
    image: ems-app
    container_name: ems-api
    environment:
      - IS_DOCKER=true
    ports:
      - "8000:8000"
    command: uvicorn src.api:app --host=0.0.0.0 --port=8000
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - ems
    volumes:
      - ./logs:/var/log/my_app 

  postgres:
    image: postgres:15.5-alpine
    container_name: ems-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRESS_DB: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 15s
      timeout: 5s
      retries: 5
    networks:
      - ems

volumes:
  postgres-data:

networks:
  ems: